<%- if devise_mapping.omniauthable? %>
<div class="d-flex justify-content-center mb-2">
  <span>Or</span>
</div>
<div class="d-flex justify-content-center full-width mb-8">
  <strong class='mr-5'>Sign in with:</strong>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), class: "mx-3 f-o-#{provider_order(provider.to_s)}" do %>
      <i class="fab fa-<%= provider_name(provider.to_s) %> fa-lg"></i> 
    <% end %>
  <% end %>
  </div>
<% end %>