<%= form_for(@group, html: { class: 'd-flex flex-column full-height mt-10' }) do |f| %>

  <div class="d-flex py-2 px-4">
    <%= f.text_field :name, placeholder: 'Group name' %>
  </div>

  <div class="pl-4">
    <hr/>
  </div>

  <% if current_user.provider.nil? %>
    <div class="d-flex py-2 px-4">
      <%= f.text_field :icon, placeholder: 'Link to icon' %>
    </div>
  <% end %>


  <div class="pl-4 mb-8">
    <hr/>
  </div>

  <%= f.submit 'Create new group', class: 'position-fixed button__info component--stick-to-bottom btn btn-success full-width' %>
<% end %>