<%= form_for(@group, html: { class: 'd-flex flex-column full-height mt-10' }) do |f| %>

  <div class="d-flex py-2 px-4">
    <%= f.text_field :name, placeholder: 'Group name' %>
  </div>

  <div class="pl-4">
    <hr/>
  </div>

  <div class="d-flex py-2 px-4 custom-file">
    <%= f.file_field :image, class: 'custom-file-field', accept: "image/jpeg,image/gif,image/png" %>
  </div>

  <div class="pl-4 mb-8">
    <hr/>
  </div>

  <%= f.submit 'Create new group', class: 'position-fixed button__info component--stick-to-bottom btn btn-success full-width' %>
<% end %>