<h1><%= @user.name %></h1>
<p><%= link_to  "All my drinks", drinks_path(author_id: @user.id, drink: true) %></p>
<p><%= link_to  "All my external drinks", drinks_path(author_id: @user.id, drink: false) %></p>
<p>All groups</p>
