<h1>Welcome to My Drinks</h1>
<%= link_to  "sign_in", new_user_session_path %><br>
<%= link_to  "sign_up", new_user_registration_path %><br>
<%= link_to  "sign_out", destroy_user_session_path %><br>
<%= current_user.email%>