<div class="collapse" id="navMenu">
  <div>
    <%= link_to current_user.name, current_user%>
  </div>
  <div>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </div>
</div>